<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>首页</title>
  <link rel="stylesheet" href="/static/css/layui.css">
  <style>
    .global-body {
      padding: 2% 0;
      background-color: #e3e2e2;
      width: 100%;
      height: 1000px;
    }
    .body {
      margin: 0 2%;
      background-color: #ffffff;
      height: 90%;
      padding-left: 5%;
      padding-top: 5%;
    }
    .host-card {
      background-color: #e3e2e2;
      width: 20%;
      float: left;
      margin-right: 5%;
      margin-bottom: 2em;
    }
    .mButton {
      float: right;
      color: blue;
      font-size: 12px;
      cursor: pointer;
      margin-left: 10px;
    }
  </style>
</head>
<body>
<header>
  <ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item"><a href="/">主机</a></li>
    <li class="layui-nav-item"><a href="/group">主机组</a></li>
    <li class="layui-nav-item"><a href="">SSH模式</a></li>
    <li class="layui-nav-item">
      <a href="javascript:;">运维模式</a>
      <dl class="layui-nav-child">
        <dd><a href="">移动模块</a></dd>
        <dd><a href="">后台模版</a></dd>
        <dd><a href="">电商平台</a></dd>
      </dl>
    </li>
    <li class="layui-nav-item"><a href="#">关于</a></li>
  </ul>
</header>

<div class="global-body">
  <div class="body">
    <button id="insert" type="button" class="layui-btn layui-btn-primary layui-btn-sm hostForm" style="width: 4rem;height: 4rem;position: fixed;bottom: 3rem;right: 3rem;z-index: 9999;background-color: #393D49">
      <p style="font-size: 15px;color: #FFFFFF">新增</p>
    </button>
    {{range .Hosts}}
    <div id="{{.Id}}" class="layui-card host-card">
      <div class="layui-card-header">
        主机
        <a class="mButton del" style="color: red">删除</a>
        <a class="mButton edit hostForm">编辑</a>
      </div>
      <div class="layui-card-body">
        主机名: <a href="">{{.Name}}</a><br>
        地址: {{.Addr}}<br>
        端口: {{.Port}}<br>
        {{if .Group}}
          组: {{.Group.Name}}<br>
        {{else}}
          组: 无<br>
        {{end}}
        标签:
        {{range .Tags}}
        <a style="font-size: 11px; color: blue" href="">{{.Name}}</a>
        {{end}}
        <br>
      </div>
    </div>
    {{end}}
  </div>
</div>

<form class="layui-form" id="editFrom" style="display:none;margin:50px 50px 0 0">
  <div class="layui-form-item">
    <label class="layui-form-label">主机名</label>
    <div class="layui-input-block">
      <input type="text" name="title" required  lay-verify="required" placeholder="请输入主机名" autocomplete="on" class="layui-input" id="hostname" style="width: 200px">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">地址</label>
    <div class="layui-input-block">
      <input type="text" name="title" required  lay-verify="required" placeholder="请输入地址" autocomplete="on" class="layui-input" id="addr" style="width: 200px">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">端口</label>
    <div class="layui-input-block">
      <input type="text" name="title" required  lay-verify="required" placeholder="请输入端口" autocomplete="on" class="layui-input" id="port" style="width: 200px">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">密码</label>
    <div class="layui-input-inline">
      <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="on" class="layui-input" id="password" style="width: 200px">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">选择框</label>
    <div class="layui-input-block">
      <select name="group" lay-verify="required" id="group">
        <option value=""></option>
        <option value="0">北京</option>
        <option value="1">上海</option>
        <option value="2">广州</option>
        <option value="3">深圳</option>
        <option value="4">杭州</option>
      </select>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">标签</label>
    <div class="layui-input-block" id="tag">
      <input type="checkbox" name="like[write]" title="写作">
      <input type="checkbox" name="like[read]" title="阅读">
      <input type="checkbox" name="like[dai]" title="发呆">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">密钥</label>
    <input type="file" id='keyFile'>
  </div>
</form>

<script src="/static/js/layui.js"></script>
<script src="/static/js/jquery-3.5.1.min.js"></script>
<script>
  function fillHost() {
    console.log("fillHost")
  }
  layui.use('layer', function(){
    var $ = layui.jquery;
    // 删除操作
    $('a.del').click(function()
    {
      var sid = $(this).parent().parent().attr('id');
      layer.confirm("确认要删除吗，删除后不能恢复", { title: "删除确认" }, function (index) {
      $.ajax({
          "url" : "/host",
          "type" : "delete",
          "data" : {
            "id" : sid
          },
          "dataType" : "json",
          "success" : callBack,
          "error" : function(err) {
            console.log(err)
          }
        });
        function callBack(data) {
          if (data.code === "200") {
            $(".host-card#"+sid).remove()
          }else {
            layer.msg("delete error")
          }
          layer.close(index);
        }
      });

    })
  })
  layui.use('layer', function() {
    $('a.hostForm').click(function () {
      var title
      if ($(this).hasClass("edit")) {
        title = "编辑设备"
        fillHost()
      }else {
        title = "新增设备"
      }
      layer.open({
        type: 1,
        area: ['550px', '600px'],
        title: title
        , content: $("#editFrom"),
        shade: 0,
        btn: ['提交', '重置']
        , btn1: function (index, layero) {
          var tags = []
          // 提交按钮
          var hostname = $("#hostname").val();
          var addr = $("#addr").val();
          var port = $("#port").val();
          var password = $("#password").val();
          var group = $("#group").val();
          $('input[type=checkbox]:checked').each(function(){
            tags.push($(this).attr("name"))
          });
          var keyFile = $("#keyFile").val();

          console.log(keyFile)
          console.log(password)
          console.log(group)
          console.log(tags)
        },
        btn2: function (index, layero) {
          $("#editFrom")[0].reset();
          layui.form.render();
          return false;
        },
        cancel: function (layero, index) {
          layer.closeAll();
        }

      });
    })
  })

</script>
<script>
  //注意：导航 依赖 element 模块，否则无法进行功能性操作
  layui.use('element', function(){
    var element = layui.element;
  });
  //From
  layui.use('form', function(){
    var form = layui.form;

    //监听提交
    form.on('submit(formDemo)', function(data){
      layer.msg(JSON.stringify(data.field));
      return false;
    });
  });
</script>
</body>
</html>
