<head>
    <title>SSH</title>
    <link href="/static/css/xterm.min.css" rel="stylesheet" type="text/css"/>
    <style>
        #terms {
            width: 90%;
        }
    </style>
</head>
<div id="HostId" val="{{.HostId}}"></div>
<div id="terms"></div>
<script src="/static/js/xterm.min.js"></script>
<script>
    var hostId = $("#HostId").attr("val")
    var socket = new WebSocket('ws://' + window.location.host + '/ws/ssh/' + hostId + "?cols=800&rows=40");

    socket.onopen = function () {
        var term = new Terminal({
            cols: 800,
            rows: 40,
            cursorBlink: true,
            tabStopWidth: 4
            });
        term.open(document.getElementById('terms'));

        term.on('data', function (data) {
            socket.send(data);
        });
        // term.on('resize', function (size) {
        //     socket.send(JSON.stringify({
        //         type: "resize",
        //         rows: size.rows,
        //         cols: size.cols,
        //     }));
        // });

        socket.onmessage = function (msg) {
            term.write(msg.data);
        };
        socket.onerror = function (e) {
            layer.msg("connect error");
            console.log(e);
        };

        socket.onclose = function (e) {
            layer.msg("connect close");
            term.destroy();
        };
    };
</script>