<header>
    <ul id="myNavHeader" class="layui-nav" lay-filter="">
        <li class="layui-nav-item h"><a href="/">主机</a></li>
        <li class="layui-nav-item hgroupPage"><a href="/groupPage">组</a></li>
        <li class="layui-nav-item hssh hshell hfile hbrowse" id="myNavHeaderChild">
            <a href="javascript:;">运维模式</a>
            <dl class="layui-nav-child">
                <dd><a href="/ssh">连接主机</a></dd>
                <dd><a href="/shell">快速命令</a></dd>
                <dd><a href="/file">文件上传</a></dd>
                <dd><a href="/browse">文件浏览</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="/tool">工具</a></li>

        <li class="layui-nav-item layui-layout-right">
            <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
            <dl class="layui-nav-child">
                <dd><a href="/edit_user">修改信息</a></dd>
                <dd><a href="/logout">推出登录</a></dd>
            </dl>
        </li>
    </ul>
</header>

<script>
    var currentPage = window.location.pathname;
    $(".h" + currentPage.split("/")[1]).addClass("layui-this")
</script>
