<header>
    <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item"><a href="/">主机</a></li>
        <li class="layui-nav-item"><a href="/groupPage">组</a></li>
        <li class="layui-nav-item"><a href="/quick">快速连接</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">运维模式</a>
            <dl class="layui-nav-child">
                <dd><a href="/ssh">连接主机</a></dd>
                <dd><a href="/shell">快速命令</a></dd>
                <dd><a href="/file">文件上传</a></dd>
                <dd><a href="/browse">文件浏览</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="/about">关于</a></li>
    </ul>
</header>