app:
  name: oms
  addr: 0.0.0.0
  port: 8080
  mode: dev
  run_start: true
  data_path: data
  temp_date: 336h

db:
  driver: sqlite
  user: root
  password: 123456
  dsn: 127.0.0.1:3306
  db_name: oms